.disabled {
    color: var(--lumo-tertiary-text-color);
    text-decoration: line-through;
}

.failed {
    color: var(--lumo-error-text-color);
    text-decoration: underline;
}

.passed {
    color: var(--lumo-primary-text-color);
}